!!! 5
%html

  %head
    %meta{ :charset => 'utf-8' }

    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    %title= content_for?(:title) ? yield(:title) : 'The Notes & Co.'
    = favicon_link_tag 'favicon.ico'

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    #siteContainer
      #siteNavStickyContainer{ 'data-sticky-container': '' }
        #siteNavStickyWrap.sticky{ 'data-anchor': 'siteContainer', 'data-margin-top': '0', 'data-sticky': '', 'data-sticky-on': 'small' }
          #siteNavToggler.title-bar{ 'data-hide-for': 'medium', 'data-responsive-toggle': 'siteNav' }
            %button.menu-icon{ 'data-toggle': '', type: 'button' }
            .title-bar-title The Notes & Co.
          #siteNav.top-bar
            .top-bar-left
              %ul.dropdown.menu{ 'data-dropdown-menu': '' }
                %li.menu-text The Notes & Co.
                %li
                  %a Share
                %li
                  %a Music
                %li
                  %a Profile
            .top-bar-right
              %ul.menu
                %li
                  %input{ placeholder: 'Search', type: 'search' }/
                %li
                  %button.button{ type: 'button' } Search
      #pageContent
        = yield
